/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.userphoto {
  height: 150px;
  width: 150px;
  padding-left: 10px;
}

#currentCharactersHome {
  text-align: center;
  font-size: 75px;
  font-family: 'EnchantedLand';
}

#userGreeting {
  text-align: center;
  font-family: 'EnchantedLand';
  font-size: 50px;
}

#logoutButton {
  float: right;
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: 'EnchantedLand';
  cursor: pointer;
}

#logoutButton:hover {
  color: red;
}

body {
  margin: 0;
  background-image: url("https://cdn.wallpapersafari.com/83/25/mOF5Zt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  text-align: center;
  font-family: 'EnchantedLand';
  background-image: url("./woodtexture.jpeg");
}

.navlink {
  font-size: 50px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  color: gold;
}

.navlink:visited {
  text-decoration: none;
  color: gold;
}

.navlink:hover {
  color:red;
}

@font-face {
  font-family: 'EnchantedLand';
  src: url(Enchanted\ Land.otf);
}

@font-face {
  font-family: 'RUNE';
  src: url(RUNE.TTF);
}

@font-face {
  font-family: 'ComicRunes';
  src: url(ComicRunes.otf);
}

#loginPage {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
  text-align: center;
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
  font-family: 'ComicRunes';
  background-image: url(https://ak.picdn.net/shutterstock/videos/3874394/thumb/1.jpg);
  background-size: cover;
  font-size: 50px;
}

.inputFields{
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 1.2;
  background: transparent;
  border-color: black;
  text-align: center;
  font-family: 'IM Fell DW Pica', serif;
  color: black;
  font-family: 'ComicRunes';
  font-size: 30px
}

.inputFieldsSignUp{
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 1.2;
  background: transparent;
  border-color: black;
  text-align: center;
  font-family: 'IM Fell DW Pica', serif;
  color: black;
  font-family: 'hobbit';
  font-size: 30px;
}

#loginButton {
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: 'ComicRunes';
  cursor: pointer;
}

#loginButton:hover {
  color: red;
}

#signUpPage {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
  text-align: center;
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 700px;
  font-family: 'hobbit';
  background-image: url("https://i.pinimg.com/originals/53/b4/44/53b444ea99a7b8c7e90631ea6e81e877.jpg");
  background-size: cover;
  font-size: 50px;
}

#signUpButton {
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: 'hobbit';
  cursor: pointer;
}

#signUpButton:hover {
  color: red;
}

#landingPageH1 {
  font-family: 'firstorder';
  text-align: center;
  font-size: 75px;
}

#landingPageH2 {
  font-family: 'firstorder';
  text-align: center;
  font-size: 35px;
}

#landingPageButtonContainer {
  text-align: center;
}

.landingPageButtons {
  background-color: black; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: 'firstorder3d';
  border-color: red;
  cursor: pointer;
}

.landingPageButtons:hover{
  color: red;
}


@font-face {
  font-family: 'firstorder';
  src: url(firstorder.ttf);
}

@font-face {
  font-family: 'firstorder3d';
  src: url(firstorder3d.ttf);
}

@font-face {
  font-family: 'hobbit';
  src: url(hobbitonbrushhand.ttf);
}

#bird1 {
  position: absolute;
  left: -30%;
  top: 200px;
  animation: move 5s linear 5s infinite;
  width: 150px;
  z-index: -1;
}

#bird2 {
  position: absolute;
  left: -30%;
  top: 500px;
  animation: move 8s linear 0s infinite;
  width: 150px;
  z-index: -1;
}

#bird3 {
  top: 650px;
  left: -30%;
  position: absolute;
  animation: move 11s linear 1s infinite;
  width: 150px;
  z-index: -1;
}

@keyframes move {
  from {
    left: -30%;
  }
  to {
    left: 100%;
  }
}

#characterCreationFormH1 {
  text-align: center;
  font-family: 'EnchantedLand';
  font-size: 75px;
}

#characterCreationForm {
  width: 900px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
  margin: auto;
  background-image: url(https://wallpaperaccess.com/full/88180.jpg);
  background-size: cover;
}

.generalInfoFields {
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 1.2;
  background: transparent;
  border-color: black;
  text-align: center;
  font-family: 'IM Fell DW Pica', serif;
  color: gold;
  font-family: 'Chronos';
  font-size: 30px;
}

.raceSelection:active {
  color: green;
}

.raceSelection:hover {
  cursor: pointer;
  border-color: red;
}

.raceSelection {
  background-image: url("https://murals-weblinc.netdna-ssl.com/product_images/big-brown-wood-plank-wall-texture-background-17887014/5ec82f7dbd89dd0018f7779b/product_large_image.jpg?c=1590177661");
  background-size: cover;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: 'firstorder';
  border-color: black;
  cursor: pointer;
}

#stats {
  font-family: 'Chronos';
  font-size: 25px;
  text-align: center;
  color: gold;
}

@font-face {
  font-family: 'Chronos';
  src: url(SongOfCoronos.ttf);
}

#creationSubmitButtonContainer {
  text-align: center;
}

.statButtons {
  background-image: url("https://murals-weblinc.netdna-ssl.com/product_images/big-brown-wood-plank-wall-texture-background-17887014/5ec82f7dbd89dd0018f7779b/product_large_image.jpg?c=1590177661");
  background-size: cover;
  border-color: black;
  padding: 15px 15px;
  font-size: 25px;
}

.statButtons:hover{
  border-color: red;
}

.statButtons:active {
  color: green;
}

#creationSubmitButton {
  background-image: url("https://murals-weblinc.netdna-ssl.com/product_images/big-brown-wood-plank-wall-texture-background-17887014/5ec82f7dbd89dd0018f7779b/product_large_image.jpg?c=1590177661");
  background-size: cover;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: 'firstorder';
  border-color: black;
  cursor: pointer;
}

#creationSubmitButton:active {
  border-color: green;
  color: green;
}

#galleryH1 {
  font-family: 'EnchantedLand';
  font-size: 75px;
  text-align: center;
}

.characterCard {
  width: 500px;
  height: 500px;
  padding: 25px;
  box-shadow:  0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  text-align: center;
  text-decoration: none;
  font-family: 'EnchantedLand';
  font-size: 50px;
  background-image: url(https://www.framedimensions.com/wp-content/uploads/sites/21/2017/07/klimt1.png);
  background-size: cover;
  background-color: beige;
}

#characterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#showCharacter {
  color: black;
}

#showCharacter:visited {
  text-decoration: none;
  color: black;
}

#showCharacter:hover {
  color: red;
}

#homeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#characterDetailContainer {
  top: 400px;
  width: 700px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
  margin: auto;
  background-image: url(https://wallpaperaccess.com/full/88180.jpg);
  background-size: cover;
  color: gold;
  text-align: center;
  font-family: 'Chronos';
  font-size: 25px;
}

#characterDetailImage {
  width: 250px;
  height: 250px;
}

#deleteButton {
  color: black;
  background-color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-family: 'Chronos';
  border-color: gold;
  cursor: pointer;
}

#deleteButton:hover {
  border-color: red;
}

.updateButtons {
  background-image: url("https://murals-weblinc.netdna-ssl.com/product_images/big-brown-wood-plank-wall-texture-background-17887014/5ec82f7dbd89dd0018f7779b/product_large_image.jpg?c=1590177661");
  background-size: cover;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Chronos';
  border-color: black;
  cursor: pointer;
}

.updateButtons:hover {
  border-color: red;
}

.updateButtons:active {
  color: green;
}

#updateField {
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 1.0;
  background: transparent;
  border-color: black;
  text-align: center;
  color: gold;
  font-family: 'Chronos';
  font-size: 30px;
}