body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userphoto {
  height: 50px;
  padding-left: 10px;
}

#currentCharactersHome {
  text-align: center;
  font-size: 75px;
  font-family: 'EnchantedLand';
}

#userGreeting {
  text-align: center;
  font-family: 'EnchantedLand';
  font-size: 50px;
}

#logoutButton {
  float: right;
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: 'EnchantedLand';
}

#logoutButton:hover {
  color: red;
}

body {
  background-image: url("https://cdn.wallpapersafari.com/83/25/mOF5Zt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  text-align: center;
  font-family: 'EnchantedLand';
  background-image: url(https://media.istockphoto.com/photos/natural-wood-texture-picture-id1145602814?b=1&k=20&m=1145602814&s=170667a&w=0&h=geYq61xvfaKOQCn-RAOWTedracWeaSaTk-daFRw5PA8=);

}

.navlink {
  font-size: 50px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  color: gold;
}

.navlink:visited {
  text-decoration: none;
  color: gold;
}

.navlink:hover {
  color:red;
}

@font-face {
  font-family: 'EnchantedLand';
  src: url(Enchanted\ Land.otf);
}
