body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userphoto {
  height: 50px;
  padding-left: 10px;
}

#currentCharactersHome {
  text-align: center;
  font-size: 75px;
  font-family: 'EnchantedLand';
}

#userGreeting {
  text-align: center;
}

#logoutButton {
  float: right;
}

body {
  background-image: url("https://cdn.wallpapersafari.com/83/25/mOF5Zt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  text-align: center;
  font-family: 'EnchantedLand';
}

.navlink {
  font-size: 50px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

@font-face {
  font-family: 'EnchantedLand';
  src: url(Enchanted\ Land.otf);
}
